/* Importation police d'écriture  */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@200&display=swap');
/* Flex général */
body {
    display: flex;
    align-items: stretch;
    flex-flow: column ;
}
main {
    display: flex;
    justify-content: space-between;
}
/* Haut de la page */
h1 {
    text-align: center;
}
#nava {
    text-align: center;
}

header {
    background-color: red;
}

/* Navigation  */

nav ul {
    display: flex;
    flex: 1;
    flex-direction: row;
    list-style-type: none;
    margin-bottom: 0;
    padding: 0;
}
li {
    flex-basis: 20%;
    border: 1px solid black;
    text-align: center;
    padding: 0;    
    margin: auto 0 auto 0;
}
li a {
    color: black;
}

/* Corps du site  */

article {
    background-color: brown;
    display: flex;  
    flex-flow: wrap;
}
.inside {
    background-color: aqua;
    flex: 1 0 auto;
    width: 400px;
    
}
article p {
    font-family: 'Sofia Sans', sans-serif;
    border: 1px dotted white;
    margin: 0 0 0;

}
aside {
    background-color: yellow;
    flex:1 0 100px ;
}
aside.autreB {
    background-color: blueviolet;
    flex:1 0 100px ;
}
/* Pied de page */
footer {
    background-color:rgb(189, 220, 189);
    text-align: center;
}






